html,body,ul,ol,li,dl,dd,dt,p,span,
h1,h2,h3,h4,h5,h6,form,img{
	padding:0;
	margin:0;
}
ul,ol{
	list-style: none;
}
a,u{
	text-decoration: none;
}
img,fieldset{
	border:0;
	vertical-align: middle;
}
table{
	border-collapse:collapse;
	border-spacing: 0;
}
b,strong,i,em,h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
}
*{
	box-sizing: border-box;
}

// 1.头部导航
.header {
  background-color: #fff;
	//background-color: aqua;
	display: flex;
	width: 100%;
	padding: 0px 10%;
}
.header .head_nav{
	display: flex;
	width: 100%;
	height:60px;
	margin-bottom: 0;
}
.logo {
	width: 20%;
}
.header .head_nav .logo a{
  display: inline-block;
  padding: 30px 0;
  width: 100%;
  background: url(https://oss.static.nubia.cn/active/5dae6dd070bfa59.png) no-repeat center;
  background-size: 65%;
}

//头部中间
.header .head_nav .list_content-con{
	display: flex;
	width: 60%;
}
.header .head_nav .list_content-con .list{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
}
.header .head_nav .list_content-con .list 
li{
	display: flex;
	justify-content:space-between;
}
.header .head_nav .list_content-con .list li a{
	color: #333;
  font-weight: 500;
	font-size: 14px;
	padding: 22px 20px;
	text-decoration: none;
}
// 头部中间隐藏模块
.header_content-a {

		width: 100%;
	//	height: 0;
    position: absolute;
    left: 0;
    top: 60px;
    background: #fff;
    transition: 1s;
		overflow: hidden;
		display: none;
		z-index: 1000;
}

.header_content-a .content_list{
	width: 80%;
	margin:0 auto;
	height: 200px;
}


.header_content-a>div {
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    position: relative;
}
.header_content-a .content_list {
    width: 20%;
    float: left;
    height: 200px;
    padding-left: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.header_content-a .content_list>ul>li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #333;
}
.header_content-a .content_list li.active .content_con {
    display: flex;
}
.header_content-a .content_list li .content_con {
    width: 70%;
    float: left;
    justify-content: left;
    align-items: center;
    height: 200px;
    display: none;
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 99999;
}
.header_content-a .content_con>ul{
	display: flex;
	flex-direction:row;
}

.header_content-a .content_con>ul li {
    width: 168px;
		flex-direction:column;
		
}

.header_content-a .content_con>ul li img {
    display: block;
    width: 100px;
    margin: 0 auto;
}
.header_content-a .content_con>ul li p {
    font-size: 12px;
    font-weight: 500;
    color: #333;
    margin-bottom: 0;
		margin-top: 10px;
		
		margin: 0 auto;
}

// 头部右边
.head_nav_right{
	width: 20%;
	display: flex;
}
.head_nav_right>ul{
	display: flex;
	height: 60px;
	width: 80%;
	justify-content: flex-end;
	padding-left:20%;
}
.head_nav_right ul li{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.head_nav_right ul li a{
	display:block;
	height:60px;
	width: 100%;
//	padding:20px;
	background-size: 20px;
	
}
.head_nav_right ul li .img_a1{
	background: url(../images/grzx.png) no-repeat center;
	background-size: 20px;
}
.head_nav_right ul li .img_a2{
	background: url(../images/gwc.png) no-repeat center;
	background-size: 20px;
}
.head_nav_right ul li .img_a3{
	background: url(../images/fdj.png) no-repeat center;
	background-size: 18px;
}
// 头部右边隐藏模块
.box_s {
    -moz-box-shadow: 0 1px 2px 0 rgba(102,102,102,0.5);
    -webkit-box-shadow: 0 1px 2px 0 rgba(102,102,102,0.5);
		box-shadow: 0 1px 2px 0 rgba(102,102,102,0.5);
		
}
.box_s>ul{
	display: flex;
	flex-direction: column;
}
.box_s>ul>li{
	display: flex;
	flex-direction: row;
}
.box_s>ul>li>a{
	display: block;
	width: 100%;
}
.box_s>ul>li>.first_a01{
	width: 20%;
}
.box_s>ul>li>.no_account{
	width: 80%;
	display: flex;
	justify-content: flex-end;
}
.head_user_content {
    position: absolute;
    display: none;
    top: 60px;
    right: -76px;
    background: #fff;
    width: 360px;
    height: auto;
    padding: 20px;
    transition: .25s;
		overflow: hidden;
		z-index: 1000;

}
.head_nav_right ul {
    height: 100%;
}

.head_user_content>ul>li {
    width: 100%;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid #eee;
}
.head_nav_right ul > li {
    float: left;
    position: relative;
    height: 100%;
}
.head_user_content>ul>li:first-child>a {
    font-weight: 500;
    color: #de634f;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-bottom: 5px;
}
.head_user_content>ul>li>a {
    height: 50px;
    line-height: 50px;
    color: #999;
    display: block;
    font-size: 14px;
}
span.no_account {
    color: #999;
    float: right;
    display: block;
    height: 50px;
    line-height: 50px;
}

.hov_a:hover{
color:#373838;
text-decoration: none;
}
.head_user_content>ul>li:first-child>a:hover{
color:#373838;
text-decoration: none;
}
.no_account>a:hover{
text-decoration: none;
}
#img_a1:hover{
	-webkit-filter:grayscale(1);
}
// 购物车隐藏模块

ul.car_nothing li:nth-child(1){
	padding-bottom: 10px;
}
ul.car_nothing > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
		padding: 0;
		text-align: center;
}
.red_btn{
    background: #de634f;
}
.red_btn:hover{
		background: #D85E4B;
		text-decoration: none;
}



// 2.轮播图
.carousel-inner img {
      width: 100%;
      height: 100%;
  }

	// 3.红魔游戏手机 
.tel{
		position: relative;
		width: 100%;
		height: 550px;
		display: inline-block;
  	height: auto;
		max-width: 100%;
		margin-top: 10px;
}
a img{
	width: 100%;
}

// 4.四个模块

.content_list div{
	height: 460px;
	width: 50%;
	float: left;
	//position: relative;
	
}
.content_list div:nth-child(1){
	padding:10px 5px 5px 10px;
}
.content_list div:nth-child(2){
	padding:10px 10px 5px 5px;
}
.content_list div:nth-child(3){
	padding:5px 5px 10px 10px;
}
.content_list div:nth-child(4){
	padding:5px 10px 10px 5px;
}

.content_list div .content_list_a1{
	background: url("https://oss.static.nubia.cn/active/5f2d272541be286.jpg") center center / cover no-repeat;
	width: 100%;
  height: 100%;
	display: block;
}
.content_list div .content_list_a2{
	background: url("https://oss.static.nubia.cn/active/5f223842d992780.jpg") center center / cover no-repeat;
	width: 100%;
  height: 100%;
  display: block;
}
.content_list div:nth-child(3) a{
	background: url("https://oss.static.nubia.cn/active/5e9fad536a1c051.jpg") center center / cover no-repeat;
	width: 100%;
  height: 100%;
  display: block;
}
.content_list div:nth-child(4) a{
	background: url("https://oss.static.nubia.cn/active/5ec78d90cc96c21.png") center center / cover no-repeat;
	width: 100%;
  height: 100%;
  display: block;
}

// 5.微信扫码拼团
.wc{
		//position: relative;
    width: 100%;
    display: inline-block;
    height: auto;
		max-width: 100%;
		margin-bottom: 10px;
}
.wc div img{
	width: 100%;
}

// 了解更多
.liao{
	display: flex;
	background: #f0f0f0;
  width: 100%;
  padding: 40px;
  padding-left: calc((7% - 25px));
  padding-right: calc((7% - 25px));
}
.liao div{
	padding: 0 25px;
	width: 33%;
}
.liao div div{
	width: 100%;
	padding: 0;
}
.liao div div a{
	display: block;
	width: 100%;
	color:#428bca;
	
}
.liao div div a img{
	width: 100%;
}

.liao div div:nth-child(2) p:nth-child(1){
	font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
}

.liao div div:nth-child(2){
	font-weight: 500;
    margin-top: 30px;
    margin-bottom: 50px;
}
.liao div div:nth-child(2) p:nth-child(2){
		font-size: 18px;
    color: #333;
    height: 60px;
    width: 100%;
		overflow: hidden;
		font-weight: 400;
}

// 底部上
.foot .container .f-top {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 50px 7%;
	padding-bottom: 10px;
	width: 100%;
}

.foot .container .f-top div{
	width: 25%;
	margin-bottom: 30px;
	text-align: center;
}
.foot .container .f-top div a img{
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
}
.foot .container .f-top div a{
	font-size: 16px;
		font-weight: 500;
		color: #333;
}

// foot c
.foot-c{
	margin: 0 auto;
  padding: 0;
	margin-bottom: 20px;
	display: flex;
	padding: 50px 0;
	border-bottom: 1px solid #eee;
}
.foot-c div p{
	font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}
.foot-c div ul li{
	float: left;
    width: 100%;
    text-align: left;
   
    margin-bottom: 10px;
    height: 21px;
    overflow: hidden;
}
.foot-c div ul li a{
	 font-size: 14px;
    font-weight: 400;
    color: #999;
}
.foot-c div img{
	width: 24px;
	height: 24px;
}

.call_me{
		text-align: right;
		width: 33%;
		padding-right: 20px;
}
.call_me div:nth-child(1){
	margin-bottom: 20px;
    color: #a5a5a5;
		font-weight: 400;
}
.call_me div:nth-child(1) a{
	  border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
    color: #fff;
    background: #666;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
}
.call_me div p{
	margin-bottom: 0;
    color: #999;
    line-height: 24px;
    font-size: 14px;
}
.call_me div p b{
	font-weight:bold;
	font-size: 20px;
  color: #333;
}
.call_me div:nth-child(3){
	margin-top: 20px;
}
.call_me div:nth-child(3) a{
	color:#999;
	position: relative;
}
.call_me div:nth-child(3) a:nth-child(1) img:nth-child(1){
	width:100px ;
	height: 100px;
	position: absolute;
  top: -120px;
  left: -10px;
	border: 1px solid #999;
	display: none;
}

// foot bottom
 .master-footer {
    margin-top: 40px;
		padding: 0;
}
 .nubia-foot-nav>div:nth-child(1) {
    text-align: center;
    position: relative;
    color: #999;
    font-size: 14px;
		line-height: 18px;
		width: 80%;
}  
.master-footer .nubia-foot-nav>div>a {
    color: #999;
    font-weight: 400;
		padding: 0;
}
.nubia-foot-nav{
	display: flex;
}
.btn-group {
		text-align: right;
		float: right;
		background-color: #fff;
		width: 20%;
}
.btn-group .btn{
	  float: none;
    padding-right: 0;
    color: #636363;
		margin-top: 0;
		background-color: #fff;
		font-size: 12px;
		font-weight: 500;
		border:none;
		outline:none;		
  	outline-color : rgba(255,255,255,0);
}
.btn-group .btn img{
	height: 25px;
	width: 21px;
}
.container{
	padding: 50px 10%;
}